<ion-view view-title="About">
  <ion-content>
    <div id="text-box">
      <h1 class="title">Thrifty</h1>
      <h2 class="title">Saving for something? Let us help you out.</h2>
      <h3>Thrifty helps you out by visualizing your budget in only a few easy steps.</h3>
      <h3>Sign up for an account at <a href="https://get-thrifty.herokuapp.com">our website here.</a></h3>
      <h3>Enter your approximate monthly income</h3>
      <h3>Then give us a goal you're working for, like a house or new hat!</h3>
      <h3>Allocate some money every month to that goal, and we'll show you how much you have to go to save</h3>
      <h3 class="title">Built with Angular. JS and Ionic Framework</h3>
    </div>
  </ion-content>
</ion-view>
