<ion-view view-title="Goal">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h1>{{goal.name}}</h1>
        <h2>Total Cost: ${{goal.cost}}</h2>
      </div>
      <div class="item item-body">
        <p>You've saved ${{goal.amount_saved}} so far</p>
        <p>You allocated ${{goal.monthly_budget}} every month</p>
        <p>{{goal.time_left}} months until completion</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
